@import '../../../../../config/mixins.scss';

.get-student-details-modal-container {
  padding: 1rem;
  background: var(--primary-bg-color);
  border-radius: 1rem;

  .modal-content {
    max-height: 85vh;
    max-width: 90vw;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .close-button {
        margin: 0 0 0.5rem 0;
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
        outline: none;
        box-shadow: none;
        border: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--secondary-bg-color);

        .icon {
          color: var(--primary-font-color);
          font-weight: 600;
        }

        &:hover {
          cursor: pointer;
          background: var(--tertiary-bg-color);
        }
      }

      .heading-5 {
        margin: 0 0 0.5rem 0;
        padding: 0;
        font-size: 1.6rem;
      }
    }

    .horizontal-line {
      height: 1px;
      margin: 0;
      border-radius: 0.25px;
      background: var(--tertiary-font-color);
    }

    .drive-form {
      padding: 0 1rem;
      overflow-y: auto;
      width: auto;

      .heading-6 {
        padding-top: 1rem;
        font-size: 1.1rem;
      }

      .input {
        width: 100%;
        padding: 1rem 0;
      }
      .checkbox {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
      .row {
        width: 100%;
        display: flex;

        @include break-point(mobile) {
          flex-direction: column;
        }

        .input:first-child {
          padding-right: 1rem;

          @include break-point(mobile) {
            padding-left: 0;
          }
        }
        .input:last-child {
          padding-left: 1rem;

          @include break-point(mobile) {
            padding-left: 0;
          }
        }
      }
      .row-2 {
        .textarea-container {
          width: 100%;
          padding-right: 1rem;

          @include break-point(mobile) {
            padding-right: 0;
          }

          .input {
            padding-left: 0;
            height: 100%;
          }
        }
        .email-url-container {
          width: 100%;
          padding-left: 1rem;

          @include break-point(mobile) {
            padding-left: 0;
          }

          .input {
            padding-left: 0;
          }
        }
      }
    }

    .button-container {
      width: auto;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin: 0.5rem 1rem;

      .button {
        border: none;
        outline: none;
        border-radius: none;
        padding: 0.7rem 1rem;
        color: var(--white-color);
        background: var(--primary-color);
        border-radius: 0.5rem;
        font-weight: 600;
      }
    }
  }
}
