.drive-details {
  background: var(--primary-bg-color);
  border-radius: 1rem;
  max-width: 40rem;
  padding: 2rem;
  margin: 1rem;
  max-height: 95vh;
  overflow-y: auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .headings {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .heading-4 {
        margin: 0;
        margin-bottom: 0.5rem;
      }

      .links-container {
        display: flex;
        flex-direction: column;

        .link-tag {
          margin: 0.3rem 1.5rem 0.3rem 0;
          border-radius: 0.5rem;
          font-size: 0.9rem;
          text-decoration: none;
          transition: all 100ms ease-in;
          display: flex;
          align-items: center;
          color: var(--secondary-font-color);

          &:hover {
            color: var(--primary-color);
          }

          .icon {
            margin-right: 0.3rem;
          }
        }
      }
    }

    .date {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 1.5rem;
      background: var(--secondary-bg-color);
      border-radius: 0.5rem;
      color: var(--primary-font-color);

      .day {
        font-size: 1.2rem;
      }
      .month,
      .year {
        font-size: 0.7rem;
        margin-top: 0.2rem;
      }
    }
  }

  .paragraph {
    margin: 0.5rem 0;
    color: var(--secondary-font-color);
  }

  .container {
    display: flex;
    width: auto;
    margin: 0.5rem 0 1rem 0;
    border-radius: 0.5rem;

    .salary,
    .position {
      width: 50%;
      border-radius: 0.5rem;
      border: 1px solid var(--tertiary-bg-color);
      padding: 0.3rem 0.5rem;

      .label {
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        color: var(--tertiary-font-color);
        .icon {
          margin-right: 0.2rem;
        }
      }
      .paragraph {
        margin: 0;
      }
    }

    .position {
      margin-right: 0.5rem;
    }
    .salary {
      margin-left: 0.5rem;
    }
  }

  .location {
    border-radius: 0.5rem;
    border: 1px solid var(--tertiary-bg-color);
    padding: 0.3rem 0.5rem;

    .label {
      font-size: 0.7rem;
      display: flex;
      align-items: center;
      color: var(--tertiary-font-color);
      .icon {
        margin-right: 0.2rem;
      }
    }
    .paragraph {
      margin: 0;
    }
  }

  .requirements {
    width: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;

    .horizontal-line {
      width: 100%;
      height: 1px;
      background: var(--secondary-bg-color);
    }
    .progress-bar-container {
      display: flex;
      margin: 1rem 0;
      .col-1,
      .col-2 {
        width: 50%;
      }
      .col-1 {
        margin-right: 0.5rem;
      }
      .col-2 {
        margin-left: 0.5rem;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: flex-end;

    .close-button {
      border: none;
      outline: none;
      font-weight: 600;
      font-size: 0.9rem;
      border-radius: 0.3rem;
      padding: 0.7rem 1.5rem;
      transition: all 200ms ease;
      color: var(--primary-color);
      background: var(--secondary-bg-color);

      &:hover {
        cursor: pointer;
        background: var(--tertiary-bg-color);
      }
    }
  }
}
