@import '../../../../config/mixins.scss';

.admin-home {
  padding: 1rem;

  @include break-point(mobile) {
    padding: 0.5rem;
  }

  .create-student-container {
    display: flex;
    justify-content: space-between;

    @include break-point(tablet) {
      flex-direction: column;
    }

    .create-student {
      padding: 2rem;
      border-radius: 1rem;
      margin: 1rem;
      width: 50%;
      background: var(--primary-bg-color);
      box-shadow: var(--primary-box-shadow);

      @include break-point(tablet) {
        width: auto;
      }

      .heading-5 {
        margin: 0;
        display: flex;
        align-items: center;

        .icon {
          margin-right: 1rem;
        }
      }

      .input {
        margin: 2rem 0;
      }

      .button-container {
        display: flex;
        justify-content: flex-start;
      }
    }

    .student-file-upload {
      padding: 2rem;
      border-radius: 1rem;
      margin: 1rem;
      background: var(--primary-bg-color);
      box-shadow: var(--primary-box-shadow);
      height: auto;
      width: 50%;
      display: flex;
      flex-direction: column;

      @include break-point(tablet) {
        width: auto;
      }

      .heading-5 {
        margin: 0;
        display: flex;
        align-items: center;

        .icon {
          margin-right: 1rem;
        }
      }
    }
  }

  .password-container {
    display: flex;
    width: auto;

    @include break-point(tablet) {
      flex-direction: column;
    }

    .update-password {
      width: 100%;
      margin: 1rem;
      background: var(--primary-bg-color);
      border-radius: 1rem;
      box-shadow: var(--primary-box-shadow);
      padding: 2rem;

      @include break-point(tablet) {
        width: auto;
      }

      .heading-5 {
        margin: 0;
        display: flex;
        align-items: center;

        .icon {
          margin-right: 1rem;
        }
      }

      .input {
        margin: 2rem 0;
      }

      .button-container {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}
