@import '../../../../../config/mixins.scss';

.download-placement-info {
  padding: 2rem;
  border-radius: 1rem;
  margin: 1rem 1rem 2rem 1rem;
  background: var(--primary-bg-color);

  .heading-5 {
    margin: 0;
    display: flex;
    align-items: center;

    .icon {
      margin-right: 1rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;

    .input {
      width: 100%;
      margin: 2rem 0;
    }

    .button-container {
      display: flex;
      justify-content: flex-start;
      min-width: 10rem;

      .view-button-container {
        margin-left: 1rem;
      }
    }
  }
}

.show-placement-details-modal {
  width: 25rem;
  padding: 1.5rem;
  border-radius: 0.7rem;
  color: var(--primary-font-color);
  background-color: var(--primary-bg-color);

  @include break-point(mobile) {
    width: 80%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    tr {
      th,
      td {
        text-align: start;
        padding: 0.7rem 1rem;
      }

      th {
        font-weight: 600;
      }

      &:nth-child(odd) {
        background-color: var(--secondary-bg-color);
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;

    .cancel-button {
      border: none;
      outline: none;
      font-weight: 600;
      font-size: 0.85rem;
      border-radius: 0.5rem;
      padding: 0.7rem 1.5rem;
      color: var(--primary-color);
      text-transform: capitalize;
      transition: all 200ms ease;
      background: var(--secondary-bg-color);

      &:hover {
        cursor: pointer;
        background: var(--tertiary-bg-color);
      }
    }
  }
}
