@import '../../../config/mixins.scss';

.change-password-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;

  @include break-point(tablet) {
    flex-direction: column-reverse;
    .change-password-svg {
      width: 60vw;
    }
    .change-password-wrapper {
      margin-top: 2rem;
    }
  }

  @include break-point(mobile) {
    background: var(--primary-bg-color);
    box-shadow: none;
    height: 100%;
    margin: 1.5rem;
    border-radius: 1rem;
  }
  .change-password-wrapper {
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: var(--primary-box-shadow);
    background: var(--primary-bg-color);
    width: 20rem;
    .input {
      padding: 0.75rem 0;
    }
    .button-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.75rem 0;
    }
    @include break-point(mobile) {
      box-shadow: none;
      width: 95%;
      padding: 1rem;
      .input {
        padding: 1rem;
      }
    }
  }
  .change-password-svg {
    width: 23rem;
  }
}
