@import '../../../config/mixins.scss';

.side-nav {
  background: var(--primary-bg-color);
  box-shadow: var(--primary-box-shadow);
  width: 5rem;

  .nav-list {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: calc(100vh - 4rem);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .nav-item {
      text-decoration: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.6rem;
      margin: 0.4rem 0;
      color: var(--tertiary-font-color);
      transition: all 200ms ease-in;

      &:first-child {
        margin-top: 0.8rem;
      }

      &:hover,
      &:focus {
        outline: none;
        .icon-container {
          background: var(--primary-color-light);
        }
      }

      .item-name {
        font-size: 0.7rem;
        font-weight: 500;
        text-align: center;
      }

      .icon-container {
        padding: 0.7rem 0.8rem;
        background: var(--tertiary-bg-color);
        border-radius: 1rem;
        margin-bottom: 0.3rem;

        .icon {
          font-size: 1.1rem;
        }
      }
    }
    .active-nav-item {
      .item-name {
        color: var(--primary-font-color);
      }
      .icon-container {
        background: var(--primary-color-light);
        color: var(--primary-color);
      }
    }
  }
}

@include break-point(mobile) {
  .side-nav {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    height: 4rem;
    width: 100vw;

    .logout {
      display: none;
    }

    .nav-list {
      height: auto;
      flex-direction: row;

      .nav-item {
        margin: 0;
        padding: none;
        -webkit-tap-highlight-color: transparent;

        &:hover,
        &:focus {
          .icon-container {
            background: none;
            color: var(--primary-color);
          }
        }

        &:first-child {
          margin-top: 0;
        }
        .icon-container {
          background: none;
          .icon {
            font-size: 1.4rem;
          }
        }
        .item-name {
          display: none;
        }
      }
      .active-nav-item {
        .icon-container {
          color: var(--primary-color);
        }
      }
    }
  }
}
