@import '../../../../config/mixins.scss';

.new-question-button {
  width: 4rem;
  right: 2rem;
  height: 4rem;
  bottom: 2rem;
  border: none;
  outline: none;
  position: fixed;
  border-radius: 1rem;
  background: var(--primary-color);
  box-shadow: var(--primary-box-shadow);

  .icon {
    font-size: 2rem;
    font-weight: 900;
    color: var(--white-color);
  }

  @include break-point(mobile) {
    bottom: 6rem;
  }
}

.student-queries {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .query {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--primary-bg-color);

    @include break-point(mobile) {
      margin: 0.5rem;
    }

    .header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
    }

    .name,
    .created-date {
      font-size: 0.75rem;
      margin-right: 1rem;
      color: var(--secondary-font-color);
    }

    .question {
      display: flex;
      margin: 0.4rem 0;
      font-size: 1.2rem;
      color: var(--primary-font-color);

      .edit-question-button {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        margin-left: 0.7rem;
        transition: color 200ms ease;
        color: var(--primary-font-color);

        .icon {
          font-size: 1.1rem;
        }

        &:hover,
        &:focus {
          color: var(--primary-color);
        }
      }
    }
    .answer {
      font-size: 0.9rem;
      margin: 0.5rem 0 0.7rem 0;
      color: var(--secondary-font-color);
    }

    .horizontal-line {
      width: 100%;
      height: 0.75px;
      margin: 0.4rem 0;
      background-color: var(--grey-color);
    }
    .footer {
      display: flex;
      margin: 0.5rem 0 0 0;

      .designation {
        margin-left: auto;
        font-size: 0.7rem;
        color: var(--secondary-font-color);
      }
    }
  }
}
.add-question-modal,
.edit-question-modal {
  width: 25rem;
  padding: 1.5rem;
  border-radius: 0.7rem;
  background-color: var(--primary-bg-color);

  @include break-point(tablet) {
    width: auto;
    margin: 1rem;
  }

  .heading-5 {
    margin: 0;
  }

  .question-content {
    .input {
      margin: 1.5rem 0;
    }
    .button-container {
      display: flex;
      justify-content: flex-end;

      .cancel-button {
        border: none;
        outline: none;
        font-weight: 600;
        font-size: 0.85rem;
        margin-right: 1.5rem;
        border-radius: 0.5rem;
        padding: 0.5rem 1.5rem;
        text-transform: capitalize;
        transition: all 200ms ease;
        color: var(--primary-color);
        background-color: var(--secondary-bg-color);

        &:hover {
          cursor: pointer;
          background: var(--tertiary-bg-color);
        }
      }
    }
  }
}
