@import '../../../config/mixins.scss';

.loading-animation {
  width: 100%;
  height: 100%;
  margin: 2rem;

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    height: 3rem;

    @include break-point(tablet) {
      width: 2rem;
      height: 2rem;
    }

    hr {
      border: 0;
      margin: 0;
      width: 40%;
      height: 40%;
      position: absolute;
      border-radius: 35%;
      animation: spin 2s ease infinite;

      &:first-child {
        background: #00d86b;
        animation-delay: -1.5s;
      }

      &:nth-child(2) {
        background: #a1a6a2;
        animation-delay: -1s;
      }

      &:nth-child(3) {
        background: #00d86b;
        animation-delay: -0.5s;
      }
      &:last-child {
        background: #a1a6a2;
      }
    }
  }
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
