.loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--primary-bg-color);

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;

    hr {
      border: 0;
      margin: 0;
      width: 40%;
      height: 40%;
      position: absolute;
      border-radius: 35%;
      animation: spin 2s ease infinite;

      &:first-child {
        background: #00d86b;
        animation-delay: -1.5s;
      }

      &:nth-child(2) {
        background: #a1a6a2;
        animation-delay: -1s;
      }

      &:nth-child(3) {
        background: #00d86b;
        animation-delay: -0.5s;
      }
      &:last-child {
        background: #a1a6a2;
      }
    }
  }
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
