@import '../../../config/mixins.scss';

.drives {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0.5rem;

  .drive {
    background: var(--primary-bg-color);
    margin: 1rem;
    width: 23.5rem;
    border-radius: 1rem;
    padding: 1.5rem;

    @include break-point(mobile) {
      margin: 0.5rem;
      width: 100%;
    }

    .header {
      display: flex;
      justify-content: space-between;

      .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .heading-5 {
          margin: 0;
          font-size: 1.5rem;
        }

        .position {
          font-size: 0.9rem;
          margin: 0.3rem 0;
          .icon {
            margin-right: 0.5rem;
          }
        }
      }

      .date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.3rem 0.5rem;
        background: var(--secondary-bg-color);
        border-radius: 0.5rem;

        .day {
          font-size: 1.3rem;
          color: var(--primary-font-color);
        }
        .month,
        .year {
          font-size: 0.6rem;
          padding: 0.1rem;
          color: var(--primary-font-color);
        }
      }
    }
    .paragraph {
      font-size: 0.9rem;
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;
      line-height: 1.5rem;
      color: var(--secondary-font-color);
    }
    .button-container {
      width: 100%;
      display: flex;

      .button {
        padding: 0.5rem 1rem;
        outline: none;
        border: none;
        border-radius: 0.3rem;
        font-size: 0.8rem;
        font-weight: 600;
        transition: all 200ms ease;
      }
      .more-button {
        background: var(--primary-color);
        color: var(--white-color);

        &:hover {
          cursor: pointer;
          background: var(--primary-color-dark);
        }
      }
      .reg-button {
        background-color: var(--secondary-bg-color);
        color: var(--primary-color);
        margin-left: 1rem;

        &:hover {
          cursor: pointer;
          background: var(--tertiary-bg-color);
        }
      }
    }
  }
}
.no-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  margin: 2rem;
  padding: 5rem 2rem;
  border-radius: 1rem;
  background: var(--primary-bg-color);

  @include break-point(mobile) {
    margin: 1.5rem;
    padding: 2rem;
  }

  .no-content-img {
    width: 20rem;
    margin: 2rem;

    @include break-point(mobile) {
      width: 70vw;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
