@import '../../../../config/mixins.scss';

.create-alumni {
  background: var(--primary-bg-color);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: var(--primary-box-shadow);
  .heading {
    display: flex;
    align-items: center;
    .icon {
      font-size: 1.8rem;
      margin-right: 0.7rem;
      color: var(--primary-font-color);
    }
  }
  .display-text {
    padding: 1rem;
    background: var(--secondary-bg-color);
    border-radius: 1rem;
    margin: 1rem auto;
  }
  .input-form {
    display: flex;
    justify-content: stretch;
    padding-top: 1rem;
    .input {
      width: 100%;
    }
    .button-wrapper {
      margin-left: 1rem;
      width: 15rem;
      display: flex;
      justify-content: flex-end;
    }
    @include break-point(mobile) {
      flex-direction: column;

      .input {
        width: auto;
      }

      .button-wrapper {
        width: 100%;
        justify-content: flex-start;
        margin-left: 0;
        margin-top: 1.5rem;
      }
    }
  }
}
