@import '../../../../config/mixins.scss';

.alumni-wrapper {
  margin: 1rem;
  width: auto;
  display: flex;
  flex-wrap: wrap;

  .create-alumni,
  .download-alumni {
    max-width: 30rem;
    margin: 1rem;
    width: 100%;

    @include break-point(mobile) {
      margin: 0.5rem;
    }
  }
}
