@import '../../../config/mixins.scss';

.mail {
  margin: 1rem;
  display: flex;

  @include break-point(desktop) {
    flex-direction: column;
  }

  @include break-point(mobile) {
    margin: 0.5rem;
  }

  .criteria-container,
  .mail-content {
    width: 50%;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    background: var(--primary-bg-color);
    box-shadow: var(--primary-box-shadow);

    @include break-point(desktop) {
      width: auto;
    }

    .heading-5 {
      margin: 0 0 1rem 0;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 0.5rem;
      }
    }
  }
  .criteria-container {
    .note {
      margin: 1rem 0;
      padding: 1rem;
      background: var(--secondary-bg-color);
      border-radius: 1rem;

      .paragraph {
        margin: 0;
        font-size: 0.9rem;
      }
    }

    .criteria {
      display: flex;
      flex-direction: column;

      .container {
        display: flex;
        margin: 1rem 0;

        @include break-point(mobile) {
          flex-direction: column;
          width: 100%;
          margin: 0;
        }

        .input {
          width: 50%;

          @include break-point(mobile) {
            width: 100%;
          }

          &:first-child {
            margin: 0 1rem 0 0;

            @include break-point(mobile) {
              margin: 1rem 0;
            }
          }

          &:last-child {
            margin: 0 0 0 1rem;

            @include break-point(mobile) {
              margin: 1rem 0;
            }
          }
        }
      }

      .input {
        margin: 1rem 0;
      }

      .checkbox-input {
        margin: 1rem 0 0 0;
        color: var(--secondary-font-color);
      }
    }
  }

  .mail-content {
    display: flex;
    flex-direction: column;

    .input {
      margin: 1rem 0;
    }

    .quill-editor {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      height: 100%;

      .ql-toolbar {
        border-radius: 0.5rem 0.5rem 0 0;

        * {
          background-color: var(--primary-bg-color);
          color: var(--primary-font-color);
        }
      }

      .ql-container {
        color: var(--primary-font-color);
        border-radius: 0 0 0.5rem 0.5rem;

        @include break-point(desktop) {
          min-height: 10rem;
        }
      }
    }
  }

  .send-button-container {
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0 0 0;
  }
}
