@import '../../../config/mixins.scss';

.queries {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .query {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    position: relative;
    border-radius: 1rem;
    flex-direction: column;
    background: var(--primary-bg-color);

    .delete-button {
      top: 1rem;
      right: 1rem;
      position: absolute;

      border: none;
      outline: none;
      background: none;
      font-size: 1rem;

      .icon {
        color: var(--red-color);
      }

      &:hover {
        cursor: pointer;
      }
    }

    @include break-point(mobile) {
      margin: 0.5rem;
    }

    .header {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .name,
    .created-date {
      font-size: 0.7rem;
      color: var(--secondary-font-color);
      margin-right: 1rem;
    }

    .question {
      color: var(--primary-font-color);
      font-size: 1.2rem;
      margin: 0.4rem 0;
    }

    .answer {
      font-size: 0.9rem;
      margin: 0.4rem 0;
      color: var(--secondary-font-color);
    }

    .horizontal-line {
      width: 100%;
      height: 0.75px;
      margin: 0.4rem 0;
      background-color: var(--grey-color);
    }
    .footer {
      margin: 0.5rem 0 0 0;
      display: flex;
      .new-answer {
        margin-right: auto;

        .answer-button {
          margin: 0;
          padding: 0;
          border: none;
          outline: none;
          background: none;
          font-weight: 600;
          color: var(--primary-color);
          display: flex;
          justify-content: flex-start;
          font-size: 0.9rem;
          m .icon {
            margin-left: 0.2rem;
            transition: all 500ms ease;
          }

          &:hover {
            .icon {
              transform: translateX(5px);
            }
          }
        }
      }
      .designation {
        font-size: 0.7rem;
        color: var(--secondary-font-color);
      }
    }
  }
}
.add-answer-modal {
  padding: 1.5rem;
  border-radius: 0.7rem;
  background-color: var(--primary-bg-color);
  width: 30rem;

  @include break-point(tablet) {
    width: auto;
    margin: 1rem;
  }

  .heading-5 {
    margin: 0;
  }
  .paragraph {
    font-size: 1rem;
  }

  .answer-content {
    .input {
      margin: 1.5rem 0;
    }
    .button-container {
      display: flex;
      justify-content: flex-end;

      .cancel-button {
        border-radius: 0.5rem;
        padding: 0.5rem 1.5rem;
        font-size: 0.85rem;
        text-transform: capitalize;
        outline: none;
        border: none;
        margin-right: 1.5rem;
      }
    }
  }
}

.delete-forum-alert {
  padding: 1.5rem;
  background: var(--primary-bg-color);
  border-radius: 1rem;
  .button-wrapper {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
    button {
      padding: 0.7rem 1.5rem;
      outline: none;
      border: none;
      border-radius: 0.3rem;
      font-size: 0.9rem;
      font-weight: 600;
    }
    .delete-button {
      background: var(--secondary-bg-color);
      color: var(--red-color);
      margin-left: 1rem;
    }

    .cancel-button {
      background: var(--secondary-bg-color);
      color: var(--primary-color);
    }
  }
}
